.Home {
    width: 100%;
    height: 600px;
    background-image: url("/images/salonhome.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}

.row {
    border-bottom: black;
}

#bio {
    text-align: center;
}

#pic {
    height: 320px;
    width: 100%;
}